html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 944px;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}

.descr {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

